* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #eeeeee;
}

.centre {
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 80%;
    min-height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #bbbbbb;
    background: #ffe5b4;
}

.content-header {
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

.content-title {
    text-transform: uppercase;
    color: #008080;
    border: 2px solid #bbbbbb;
    border-radius: 1rem;
    padding: .5rem;
    width: 50%;
}

.content-body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem 0;
    min-height: 550px;
}

.data-piece {
    margin: 0.2rem 0.2rem 0.2rem 0;
    width: 2.2rem;
}

.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

button {
    width: 20%;
    padding: 1rem;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
