* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    border: 1px solid red;
}

.centre {
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 70%;
    min-height: 80vh;
    border: 1px solid red;
    padding: 1rem;
}

.content-header {
    padding: 1rem;
    border: 1px solid red;
    text-align: center;
}

.content-title {
    text-transform: uppercase;
}
